/* header på landingssidan*/
header{
    background-image: url(../img/99.webp);
    background-size: cover;
}
/* header på sidan om karaktärer*/
.character-header{
    background-image: url(../img/JakeS5.webp);
    background-size: cover;
}
/* sidomeny för navigering på sidan*/
.menu{
    background-color: rgb(206, 155, 0);
}
.side-menu{
    list-style: none;
    position: fixed;
    background-color: rgb(206, 155, 0);
}
.top-pics{
    background-color: rgba(255, 255, 255, 0.604);
    
}
.mid-pics{
    background-color: rgba(255, 255, 255, 0.604);
    
}
.bottom-pics{
    background-color: rgba(255, 255, 255, 0.604);
    
}
.character-content{
    background-color: white;
}
*{
    padding: 0;
    margin: 0;
}
body{
    background-color: yellow;
}

a{
    text-decoration: none;
    color: black;
}
a:visited{
    color:black;
}
a:hover{
    color: hotpink;
}